<main class="delete-details-page">
  <section class="delete-details-card">
    <h2 class="delete-details-title"><%- title %></h2>
    <%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>

    <form action="/inv/delete/<%= locals.inv_id %>" method="post" class="delete-details-form" id="updateForm">

      <!-- MAKE -->
      <div class="delete-details-field">
        <label for="inv_make">Make</label>
        <input
          type="text"
          id="inv_make"
          name="inv_make"
          placeholder="Brand or manufacturer name"
          required
          value="<%= locals.inv_make || '' %>"
          readonly
        />
      </div>

      <!-- MODEL -->
      <div class="delete-details-field">
        <label for="inv_model">Model</label>
        <input
          type="text"
          id="inv_model"
          name="inv_model"
          placeholder="Specific model name or series"
          required
          value="<%= locals.inv_model || '' %>"
          readonly
        />
      </div>

      <!-- YEAR -->
      <div class="delete-details-field">
        <label for="inv_year">Year</label>
        <input
          type="number"
          id="inv_year"
          name="inv_year"
          min="1000"
          max="9999"
          placeholder="4-digit production year"
          required
          value="<%= locals.inv_year || '' %>"
          readonly
        />
      </div>

      <!-- PRICE -->
      <div class="delete-details-field">
        <label for="inv_price">Price</label>
        <input
          type="number"
          step="0.01"
          id="inv_price"
          name="inv_price"
          placeholder="Total asking price"
          required
          value="<%= locals.inv_price || '' %>"
          readonly
        />
      </div>

      <button type="submit" class="auth-button-left">Delete Vehicle</button>
      <input type="hidden" name="inv_id"
      <% if (locals.inv_id) { %> value="<%= locals.inv_id %>" <% } %> />
      <p>Confirm Deletion - The delete is permanent.</p>

    </form>
  </section>
</main>

      <script src="../../js/inv-update.js"></script>
